* {
  margin: 0;
  padding: 0%;
  box-sizing: border-box;
}

body {
  background-color: rgb(243, 243, 243);
}

.header {
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 3fr;
  min-height: fit-content;
}

.info {
  z-index: 1;
}

.left img {
  height: 100%;
  width: 100%;
}

.info .right {
  padding-left: 6rem;
  padding-top: 2rem;
}

.right h1 {
  font-family: "Courier New", Courier, monospace;
  font-size: 50px;
  color: rgb(37, 34, 34);
}

.info p {
  margin: 20px 0 0 0;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 7.5rem;
}

.status {
  background-color: black;
  color: rgb(201, 201, 55);
  margin: 10px 0;
  padding: 10px;
  font-weight: 600;
}

.intro {
  position: absolute;
  bottom: 0%;
  padding: 1.5rem;
  z-index: 10;
  background-color: rgba(221, 221, 26, 0.589);
  color: white;
}

.intro .right {
  padding: 0 90px;
}

.heading {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 20px;
}

.heading span {
  margin: 10px;
  opacity: 0;
}

.infoLeft {
  background-color: rgb(43, 41, 41);
  color: rgb(216, 216, 216);
}

.infoLeft .heading {
  margin: 10px;
  color: rgb(202, 202, 28);
  border-bottom: 1px solid rgb(192, 192, 28);
  text-align: center;
}

.grid2 {
  display: grid;
  grid-template-columns: 1fr;
  padding: 10px;
}

.grid3 {
  text-align: left;
  display: grid;
  grid-template-columns: 5fr 1fr;
  text-align: right;
  padding: 10px 20px;
}

.grid3 a {
  font-size: 14px;
  color: rgb(204, 206, 207);
  text-decoration: none;
}

.fa {
  margin: 5px;
  font-size: 20px;
  border: 1px solid white;
  border-radius: 100%;
  padding: 10px;
}

.grid2 p {
  font-size: small;
}

.pinfo {
  text-align: right;
}

.nav {
  border-bottom: 1px solid black;
  margin-left: 30px;
  margin-top: 40px;
}

.nav h1 {
  display: inline-block;
  padding: 0 5px;
}
.active {
  border-bottom: 2px solid black;
}

.leftpanel {
  margin-left: 30px;
}

.description {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

.description p {
  margin-bottom: 30px;
}

.rightpanel {
  padding: 40px;
}

.data {
  padding: 10px 0;
}

ul {
  padding: 10px;
}

li {
  color: rgb(180, 179, 179);
}

@media (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .intro {
    position: inherit;
  }

  .heading span {
    display: none;
  }

  .heading {
    text-align: center;
  }

  .heading br {
    display: none;
  }

  .intro .right {
    padding: 20px;
  }

  .grid3 {
    display: block;
    text-align: center;
  }

  progress{
    width: 100%;
  }

  .grid2{
    display: block;
    text-align: center;
  }

  .ico{
    display: grid;
    grid-template-columns:6fr 1fr;
  }
}
